/* div to cover the full screen */

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background-image: linear-gradient(45deg, #98407f, #ed693d);
    overflow-y: auto;
}

h5,
h4,
p {
    margin: 0px;
}

h5 {
    padding-bottom: 5px;
}

.rotate {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(-10deg);
}

.bg-text {
    color: #f0f2a6;
    font-size: 4rem;
    position: absolute;
    margin: 0 auto;
    font-weight: bold;
}

.center {
    display: flex;
    justify-content: center;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 2rem 0;
}


/* centered parent card div in screen */

.card {
    min-height: 400px;
    width: 90%;
    box-sizing: border-box;
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.52);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.04);
}

.sub-card>p {
    font-size: 1.4rem;
    color: #666;
    line-height: 1.5;
}


/* child card div in parent  */

.sub-card {
    position: relative;
    border-radius: 10px;
    padding: 20px;
    background: rgba(194, 194, 194, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(17, 17, 17, 0.04);
}

.director-section-card {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    background: rgba(214, 255, 183, 0.42);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.6px);
    -webkit-backdrop-filter: blur(1.6px);
    border: 1px solid rgba(214, 255, 183, 0.3);
}

.director-image {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    margin-right: 10px;
}

.director-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    object-fit: cover;
}

.director-details>p {
    margin: 0;
    font-size: 1rem;
    color: #666;
}

.btn-container {
    margin-top: 20px;
    text-align: center;
}

.btn {
    padding: 1rem 4rem;
    border-radius: 2rem;
    border: none;
    background-color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #f3f3f3;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn>p {
    font-size: 1rem;
    font-weight: bolder;
    font-style: italic;
}

@media screen and (min-width: 768px) {
    .card {
        width: 600px;
        padding: 40px 30px;
    }
    .main {
        padding: 5rem 0;
    }
    .bg-text {
        font-size: 7rem;
    }
}