<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog</title>

    <!-- bootstrap cdn -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- medium editor style -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">



    <!-- custom css -->
    <link rel="stylesheet" href="{% static "css/blog.css"%}">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">



  </head>
  <body>

    <!-- nav bar -->

    <nav class="navbar navbar-expand-lg  techfont">
      <a class="navbar-brand bigbrand" href="{% url "post_list"%}" >Posts</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{%url "about"%}">About <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="https://github.com/oluwatobi1">Github <span class="sr-only">(current)</span></a>
            </li><li class="nav-item active">
              <a class="nav-link" href="{%url "about"%}">Extra <span class="sr-only">(current)</span></a>
            </li>
          </ul>

          <ul class="navbar-nav nav_right ">
            {% if user.is_authenticated %}
            <li class="nav-item active">
              <a class="nav-link" href="{%url "post_new"%}">New POST <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{%url "post_draft"%}">Drafts <span class="sr-only">(current)</span></a>
              </li>
               <li class="nav-item active">
                  <a class="nav-link" href="{%url "logout"%}">Logout <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                     <p class="nav-link"> Welcome {{user.username}}</p>
                 </li>
            {%else%}
                 <li>
                   <a href="{% url 'login'%}">Login
                      <span class="fa fa-user" aria-hidden="true"></span>
                   </a>
                 </li>
             {%endif%}
          </ul>

      </div>
    </nav>

<div class="container">

  {% block body_block %}


  {% endblock %}
</div>

  </body>
</html>
