body{
   background-color: #0b0147;
  color: white;
  text-align: center;
  padding-left: 25%;
  padding-right: 25%;
  font-family: "Arial";

  border-right: #4ff7f7 80px solid;
  border-left: #4ff7f7 80px solid;
  border-bottom: #4ff7f7 80px solid;
  margin: 0px;

}
p{
  font-weight: bold;
}

form p{
  margin-bottom: 0px;

}
input{
  width: 250px;
  height: 35px;
}
#submitbutton{
  background-color: orange;
  border-color: white;
  border-radius: 20px;
  width: 150px;
  height: 50px;
  margin-bottom: 20px
}
