<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "boot/bootstrap.css"%}">
    <title>Base</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'simple_app:list' %}">Schools</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'admin:index'%}">Adimin</span></a>
          </li>
      </ul>
    </div>

    </nav>

    <br>
    <button type="button" class="btn btn-primary  ">
      <a href="{% url 'admin:index'%}" style="color:white"> Admin</a>
    </button>
    <div class="container">
      {% block body_block%}

      {% endblock %}

    </div>

  </body>
</html>
