<!DOCTYPE html>
{% extends "home/base.html" %}
{% block body_block %}
{% load static %}

    <h1>WELCOME TO THE USERS PAGE</h1>
    <h2>Here are the lists of users in the database currently</h2>
    <!-- relativer urls -->
    <a href="{% url 'some:help'%}">link to help</a>
    <div class="apptwo">
      {% if user_rec %}
      <ol>
        {% for rec in user_rec %}
        <li>User Info
          <ul>
            <li>First name: {{ rec.first_name}}</li>
            <li>Last Name: {{ rec.last_name }}</li>
            <li>Email: {{ rec.email }}</li>
          </ul>
        </li>

      {% endfor %}
      </ol>

      {% else %}
      <p>NO USER DATA FOUND!</p>
      {% endif %}

  {% endblock %}
